
<!-- <app-myservicedemo></app-myservicedemo> -->
<!-- <app-pipedemo></app-pipedemo> -->
<!-- <app-employee></app-employee> -->
<!-- <app-users></app-users>
<app-posts></app-posts>
<app-albums></app-albums>
<app-photos></app-photos> -->

<nav class="navbar navbar-dark bg-dark sticky-top">
    <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLink = "/employeedemo">Employee Demo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink = "/servicedemo">Service Demo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink = "/pipedemo">Pipe Demo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink = "/albums">Albums</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink = "/photos">Photos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink = "/posts">Posts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink = "/users">Users</a>
        </li>
    </ul>
</nav>

<router-outlet></router-outlet>