<div class="container">
	<h1>Create Record</h1>
	<table class="table">
		<tbody class="table-light">
			<tr>
				<td><input type="number" [(ngModel)]= "model.id" placeholder="ID"></td>
			</tr>
			<tr>
				<td><input type="text" [(ngModel)]="model.name" placeholder="Name"></td>
			</tr>
			<tr>
				<td><input type="number" [(ngModel)]="model.age" placeholder="Salary"></td>
			</tr>
			<tr>
				<td><input type="text" [(ngModel)]="model.city" placeholder="City"></td>
			</tr>		
			<tr>
				<td><input 
					type="button" 
					value="Add User" 
					(click)="addEmp()"
					class="btn btn-primary">
				</td>
			</tr>	
		</tbody>
	</table>
</div>

<div class="container">
	<h1>View Employee Data</h1>
	<table class="table table-striped">
		<thead class="table-dark">
			<tr>
				<th>ID</th>
				<th>NAME</th>
				<th>SALARY</th>
				<th>CITY</th>
				<th>EDIT</th>
				<th>DELETE</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor = "let e of emp; let i=index">
				<td>{{e.id}}</td>
				<td>{{e.name}}</td>
				<td>{{e.salary|number:'6.2-3'}}</td>
				<td>{{e.city}}</td>
				<td><input 
					type="button" 
					value="EDIT"
					(click)="editEmpById(i)"
					class="btn btn-primary">
				</td>
				<td><input 
					type="button" 
					value="DELETE"
					(click)="deleteEmpById(i)"
					class="btn btn-danger">
				</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="container">
	<h1>Update Record</h1>
	<table class="table">
		<tbody class="table-light">
			<tr>
				<td><input type="number" [(ngModel)]= "model2.id" placeholder="Id"></td>
			</tr>
			<tr>
				<td><input type="text" [(ngModel)]="model2.name" placeholder="Name"></td>
			</tr>
			<tr>
				<td><input type="number" [(ngModel)]="model2.salary" placeholder="Salary"></td>
			</tr>
			<tr>
				<td><input type="text" [(ngModel)]="model2.name" placeholder="City"></td>
			</tr>		
			<tr>
				<td><input 
					type="button" 
					value="Upadte" 
					(click)="updateEmp()"
					class="btn btn-primary">
				</td>
			</tr>	
		</tbody>
	</table>
</div>